   <style>
    body{
        background-color: black;
    }
    a {
            text-decoration: none;
        }
   

        mark {
          
            background-color: white;
            font-size: 40;
            border-radius: 8px;
            text-align: right;
        
           margin-right: 1250px;
        }

        
    </style>
    <body>


  <mark>
            <h2><a href="Dashbord.html " target=_blank>  <mark>Dashboard</mark></a></h2> 
       
            <h2><a href="STATISTICS.HTML "target=_blank><mark>STATISTICS</mark></a></h2>

        
        
</main>
</body>