  
       <style>
        body{
            background-color: black;
        }

        b{
    color: grey;
    font-size: 30;
        }
        p{
         color: grey;
    font-size: 20;   
        }
    </style>
</head>
<body>
    <pre>
<b>We are phishing hunt 
Detection for the Community</b>

<p>To make the internet safer for everyone, 
we built CheckPhish - a free phishing/fraud site scanner.


Whether you're testing our technology or suspicious 
of a link you received, feel free to try 
out our detection technology below.</p>

    </pre>
</body>